<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DocsPaWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="LOG_PATH" value="C:\GIADAv4.7.2\ROOT\log\%DATA\" />
    <add key="DEBUG_PATH" value="C:\GIADAv4.7.2\ROOT\debug\%DATA\" />
   	<add key="DOC_ROOT" value="C:\GIADAv4.7.2\ROOT\PITRE_DOC" />
    <add key="REPORTS_PATH" value="C:\GIADAv4.7.2\ROOT\Reports\%DATA" />

    <!-- SEGNATURA PERMANENTE INIZIO  -->
    <add key="ASPOSE_SIGNATURE_FIELD_CERTIFICATE_PATH" value="C:\GIADAv4.7.2\certificati\pdf\root.pfx" />
    <add key="ASPOSE_SIGNATURE_FIELD_CERTIFICATE_PASSWORD" value="test" />
    <add key="ASPOSE_SIGNATURE_FIELD__REASON" value="Signature Reason" />
    <add key="ASPOSE_SIGNATURE_FIELD__CONTACT" value="Contact" />
    <add key="ASPOSE_SIGNATURE_FIELD__LOCATION" value="Location" />
    <!-- SEGNATURA PERMANENTE FINE  -->
    
    <!-- ARSS -->
    <add key="URL_ARSS" value="http://xxxxxxxxxx/ArubaSignService/rest" />
    <add key="OTP_PWD" value="xxxxx"/>
    <add key="TYPE_OTP_AUTH" value="xxxxx"/>
	<add key="USER_ARSS" value="xxxxx.xxxxx"/>
	<add key="PWD_ARSS" value="xxxxx"/>
    <add key="USER_DELEGATO" value="delegato"/>
    <add key="PWD_DELEGATO" value="xxxxx"/>
    <add key="DELEGATE_DOMAIN" value="xxxxxMibact"/>

    <add key="PDF_MANAGER" value="ASPOSE" />
    <!-- ARUBA CONNECTOR (service)  -->
    <add key="REMOTE_PDF_STAMPER_SERVICEURL" value="http://localhost/Publish/Sviluppo/Giada45/ArubaConnector/RemotePdfStamper.asmx" />
    <!-- ARUBA CONNECTOR (service) FINE -->
     

    <add key="CHIAVE_TOKEN" value="xxxxxxxxx" />
    <add key="NO_FILTRO_AOO" value="0" />
    <add key="WSPIA_WEBSERVICE_URL" value="http://localhost/wspia/wspia.asmx" />
    <add key="CODICE_APPLICAZIONE" value="998298940" />
    
	<!--LiveCycle-->
	<add key="LIVECYCLE_SERVICE_SERVER" value="http://xxx.xx.xx.xx:xxxx/soap/services/" />
	<add key="LIVECYCLE_SERVICE_PROCESS_FORM" value="http://xxx.xx.xx.xx:xxxx/soap/services/Forms/ProcessForm?wsdl" />
	<add key="LIVECYCLE_SERVICE_PROCESS_BARCODE_FORM" value="http://xxx.xx.xx.xx:xxxx/soap/services/Forms/ProcessBarcodeForm?wsdl" />
	<add key="LIVECYCLE_SERVICE_GENERATE_PDF_SERVICE" value="http://xxx.xx.xx.xx:xxxx/soap/services/GeneratePdfService?wsdl" />
	<add key="LIVECYCLE_USERNAME" value="GFDApplication" />
    <add key="LIVECYCLE_PASSWORD" value="#GFD2010#" />
    <add key="CONVERSIONE_PDF_LATO_SERVER" value="false" />
    <add key="CONVERSIONE_PDF_SINCRONA_LC" value="true" />
	<add key="ADDRESS_SERVER_CODA_PDF" value="http://vt-vs2010/codapdf/" />
	<add key="DTD_DATICERT_PATH" value="xml/daticert.dtd" />
	<!--LiveCycle-->
    
	<add key="DS_PROVIDER" value="Microsoft.ACE.OLEDB.12.0;" />
	<add key="DS_EXTENDED_PROPERTIES" value="Excel 12.0 Macro;HDR=YES;" />
	<!--add key="DS_PROVIDER" value="Microsoft.Jet.OLEDB.4.0;" />
    <add key="DS_EXTENDED_PROPERTIES" value="Excel 8.0;HDR=YES;" /-->
	
	<add key="PDF_CONVERT_INLINE_ACTIVE" value="true" />
    <add key="PDF_CONVERTER_TYPE" value="DPA.PdfSharp.PdfConverter, DPA.PdfSharp.PdfConverter" />
    <add key="PDF_CONVERTIBLE_FILE_TYPES" value="TIFF|TIF|BMP|JPG|GIF|TXT" />
    <add key="LOG_LEVEL" value="2" />
    <add key="ENABLE_RIFERIMENTI_MITTENTE" value="0" />
    <add key="oracleSequenceName" value="seq" />
    <!--<add key="DBType" value="oracle" />-->
    <add key="DBType" value="sql" />
    <add key="connectionString" value="server=ServerNameOrAddress; uid=Username; pwd=Password; database=DatabaseName" />
    
    <!--<add key="documentale" value="PITRE" />-->
    <add key="documentale" value="ETNOTEAM" />
    <add key="prefissiRubricaRiservati" value="OCC_;INTEROP_;INS_" />
    <add key="separator" value=";" />
    <add key="prefissoInsertCorr" value="INS_" />
    <add key="prefissoCorrOccasionale" value="OCC_" />
    <add key="numeroMaxRisultatiQuery" value="300000000" />
    <add key="DOC_PATH" value="AMMINISTRAZIONE\ANNO\REGISTRO\UFFICIO\ARRIVO_PARTENZA" />
    <add key="importExportLogPath" value="\\MADSFS01\Applicazioni\GFD\importExportLog.xml" />
    <add key="XSDFilePath" value="report/templateXml/" />
    <add key="QueryFilePath" value="xml/" />
    <add key="ImportExportQuery" value="xml/importExportQueryList.xml" />
    <add key="ARCHIVIO_LOG_PATH" value="\\madsfs01\Applicazioni\GFD\ArchivioLog" />
    <add key="EST_VIS_SUP_PARI_LIV" value="0" />
    <add key="DTD_SEGNATURA_PATH" value="xml/segnatura.dtd" />
    <add key="ELABORA_MAIL_ORDINARIE" value="1" />
    <add key="ELIMINA_MAIL_ELABORATE" value="1" />
    <add key="MODELS_ROOT_PATH" value="C:\GIADAv4.7.2\REPOSITORY\Model\" />
    <add key="PKCS7InputDirectory" value="C:\GIADAv4.7.2\REPOSITORY\TempSign\" />
	<add key="PKCS7OutputDirectory" value="C:\GIADAv4.7.2\REPOSITORY\TempSign\Output\" />
    <add key="RetrieveCRLTimeout" value="20" />
    <add key="CRLOnlineCheck" value="false" />
    <add key="pathAcquisizioneBatch" value="C:\GIADAv4.7.2\REPOSITORY\AcquisizioneMassiva" />
    <add key="UrlAcquisizioneBatch" value="" />
	<add key="FNET_userGroup" value="Administrators" />
	<add key="FNET_nomeFileTemp" value="blank.tmp" />
	<add key="FNET_pathServer" value="C:\GIADAv4.7.2\REPOSITORY\DOCSPAFilenet\" />
    <add key="ELIMINA_RICEVUTE_PEC" value="0" />
    <add key="BATCH_INTEROP" value="0" />
    <add key="NUM_TENTATIVI_CONN_SVR_POSTA" value="1" />
    <add key="INTEROP_INT_NO_MAIL" value="1" />
    <add key="AS400" value="0" />
    <add key="FULLTEXT_INDEX_CATALOG" value="DocsPA_FULLTEXT" />
    <add key="SUPPORTED_FILE_TYPES_ENABLED" value="true" />
    <add key="APPLICATION_NAME" value="3.12" />
    <add key="ENABLE_CANC_DOC_TRASMESSI" value="0" />
    <add key="ENABLE_RF" value="1" />
    <add key="sqlCommandTimeOut" value="60000" />
    <add key="ARCHIVIO_LOG_PATH_AMM" value="\\MADSFS01\Applicazioni\GFD\Log\ArchivioLogAmm" />
    <add key="IMAGES_ROOT_PATH" value="W:\inetpub\wwwroot\Servizi\SunAm\GFD-FE\images\testata\320" />
    <add key="ADMIN_IMAGES_ROOT_PATH" value="W:\inetpub\wwwroot\Servizi\SunAm\GFD-FE\AdminTool\Images" />
    <add key="READ_IMAGES_ROOT_PATH" value="~/images/testata/320" />
    <add key="IMAGES_PATH" value="C:\DEV\GIADA-4.7.2\Vt-Docs\DocsPaWA\images\loghiAmministrazioni" />
    <add key="IS_ENABLED_PROFILAZIONE_ALLEGATI" value="true" />
    <add key="INDICE_SISTEMATICO" value="1" />
    <add key="VISIB_POST_TRASM_WF" value="1" />
    <add key="LdapUserSyncActive" value="false" />
    <add key="PROTOCOLLAZIONE_LIBERA" value="true" />
    <add key="SET_DATA_VISTA_GRD" value="true" />
    <add key="TRASMISSIONE_AUTOMATICA" value="0" />
    <!-- Documentum INTO TN COLL -->
    <add key="DocumentumServiceUrl" value="http://xxx.xx.xx.xx:xxxx/services/" />
    <add key="DocumentumRepositoryName" value="doc_infotn_coll" />
    <add key="DocumentumSuperUser" value="xxxxxxx" />
    <add key="DocumentumSuperUserPwd" value="xxxxxxx" />
    <add key="PitreDualFileWritingMode" value="true" />
	<add key="SEGNATURA_NEL_SUBJECT" value="true" />

    <add key="MY_SERVER" value="ARUBA" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <!--trust level="Full"   /-->
    <compilation debug="true" targetFramework="4.7.2" />
    <!--identity impersonate="true" userName="Administrator" password="MIBACT$2017" /-->
    <authentication mode="Windows" />
    <httpRuntime executionTimeout="3600000" maxRequestLength="2097151" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="it-IT" />

  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DocsPaWS.asmx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
        <!--requestLimits maxAllowedContentLength="524288000" maxQueryString="524288000" /-->
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  
  <system.serviceModel>
     <extensions>
     <behaviorExtensions>
       <add name="wsdlExtensions" type="WCFExtras.Wsdl.WsdlExtensionsConfig, WCFExtras, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
     </behaviorExtensions>
   </extensions>
   
    <behaviors>
      <endpointBehaviors>
        <behavior name="singleFileEndpointBehavior">
          <wsdlExtensions singleFile="True" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>

        <behavior name="DocsPaWS.Mobile.VTDocsWSMobileBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.ClassificationSchemesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.ProjectsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.DocumentsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.AddressBookBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.TransmissionsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.RolesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.LibroFirmaBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.FilesUploaderBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.PluginHashBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.AdministrationBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.AdLDocumentBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.TokenBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="VtDocsWS.WebServices.AuthenticationBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--<useRequestHeadersForMetadataAddress>
						<defaultPorts>
							<add scheme="http" port="880" />
						</defaultPorts>
					</useRequestHeadersForMetadataAddress>-->
        </behavior>
        <behavior name="VtDocsWS.WebServices.ProceedingsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <!--Interoperabilità semplificata-->
        <behavior name="DocsPaWS.InteroperabilityServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="DocsPaWS.FileServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <!--Fine Interoperabilità semplificata-->
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <wsHttpBinding>
        <binding name="SimpInteropBinding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
          <security mode="None"></security>
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" maxDepth="104857600" maxBytesPerRead="104857600" maxNameTableCharCount="104857600" />
        </binding>
        <binding name="TextBinding" maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security>
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="MTomBinding" maxReceivedMessageSize="6553600" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security>
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WSHttpBinding_INotificationServiceOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None"> </security>
        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="default" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IDPAConnector" />
        <binding name="SimpInteropBinding" maxBufferPoolSize="104857600" maxReceivedMessageSize=" 104857600" maxBufferSize="104857600">
          <security mode="None"></security>
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" maxDepth="104857600" maxBytesPerRead="104857600" maxNameTableCharCount="104857600" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="DocsPaWS.Mobile.VTDocsWSMobileBehavior" name="DocsPaWS.Mobile.VTDocsWSMobile">
        <endpoint address="" binding="wsHttpBinding" contract="DocsPaWS.Mobile.IVTDocsWSMobile">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Documents-->

      <service behaviorConfiguration="VtDocsWS.WebServices.DocumentsBehavior" name="VtDocsWS.WebServices.Documents">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.IDocuments">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.DocumentsBehavior" name="VtDocsWS.WebServices.DocumentsAdvanced">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.IDocumentsAdvanced">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.ProjectsBehavior" name="VtDocsWS.WebServices.Projects">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.IProjects">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.ClassificationSchemesBehavior" name="VtDocsWS.WebServices.ClassificationSchemes">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.IClassificationSchemes">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.AddressBookBehavior" name="VtDocsWS.WebServices.AddressBook">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.IAddressBook">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.TransmissionsBehavior" name="VtDocsWS.WebServices.Transmissions">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.ITransmissions">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.RolesBehavior" name="VtDocsWS.WebServices.Roles">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.IRoles">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.LibroFirmaBehavior" name="VtDocsWS.WebServices.LibroFirma">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.ILibroFirma">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.FilesUploaderBehavior" name="VtDocsWS.WebServices.FilesUploader">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.IFilesUploader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.TokenBehavior" name="VtDocsWS.WebServices.Token">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" contract="VtDocsWS.Services.IToken">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.PluginHashBehavior" name="VtDocsWS.WebServices.PluginHash">
        <endpoint address="" binding="basicHttpBinding" contract="VtDocsWS.Services.IPluginHash">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.AdministrationBehavior" name="VtDocsWS.WebServices.Administration">
        <endpoint address="" binding="basicHttpBinding" contract="VtDocsWS.Services.IAdministration">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.AdLDocumentBehavior" name="VtDocsWS.WebServices.AdLDocument">
        <endpoint address="" binding="basicHttpBinding" contract="VtDocsWS.Services.IAdLDocument">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="VtDocsWS.WebServices.AuthenticationBehavior" name="VtDocsWS.WebServices.Authentication">
        <endpoint address="" binding="basicHttpBinding" contract="VtDocsWS.Services.IAuthentication">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="VtDocsWS.WebServices.ProceedingsBehavior" name="VtDocsWS.WebServices.Proceedings">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SimpInteropBinding" contract="VtDocsWS.Services.IProceedings">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <!--Interoperabilità semplificata-->
      <service behaviorConfiguration="DocsPaWS.InteroperabilityServiceBehavior" name="DocsPaWS.InteroperabilityService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SimpInteropBinding" contract="Interoperability.Interfaces.IInteroperabilityService">
          <identity>
            <dns value="localhost" />
            <!--userPrincipalName value="ITWW96\ASPNET" /-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="DocsPaWS.FileServiceBehavior" name="DocsPaWS.FileService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="SimpInteropBinding" contract="DocsPaVO.FileManager.IFileManager">
          <identity>
            <dns value="localhost" />
            <!--userPrincipalName value="ITWW96\pi3admin" /-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Fine Interoperabilità semplificata-->
    </services>
    
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DPA.Common" publicKeyToken="55d4ca423c1ab5a0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.3.0" newVersion="3.7.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="BE" type="log4net.Appender.RollingFileAppender">
      <file value="C:\GIADAv4.7.2\ROOT\_log4net\backend.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maximumFileSize value="100000KB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
        <conversionPattern value="### %date [%thread] %-5level %logger ###%newline### [%C -&gt; %M] ### %newline%message%newline" />
        <footer value="[END LOGGING AT %date]%newline%newline" type="log4net.Util.PatternString" />
      </layout>
    </appender>
    <appender name="PdfServiceLog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\GIADAv4.7.2\ROOT\_log4net\backend_PdfServiceLog.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maximumFileSize value="100000KB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
        <conversionPattern value="### %date [%thread] %-5level %logger ###%newline### [%C -&gt; %M] ### %newline%message%newline" />
        <footer value="[END LOGGING AT %date]%newline%newline" type="log4net.Util.PatternString" />
      </layout>
    </appender>
    <appender name="DocsPaDB" type="log4net.Appender.RollingFileAppender">
      <file value="C:\GIADAv4.7.2\ROOT\_log4net\DocsPaDB.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maximumFileSize value="100000KB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
        <conversionPattern value="### %date [%thread] %-5level %logger ###%newline### [%C -&gt; %M] ### %newline%message%newline" />
        <footer value="[END LOGGING AT %date]%newline%newline" type="log4net.Util.PatternString" />
      </layout>
    </appender>
    <appender name="BusinessLogic" type="log4net.Appender.RollingFileAppender">
      <file value="C:\GIADAv4.7.2\ROOT\_log4net\backend_BusinessLogic.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maximumFileSize value="100000KB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
        <conversionPattern value="### %date [%thread] %-5level %logger ###%newline### [%C -&gt; %M] ### %newline%message%newline" />
        <footer value="[END LOGGING AT %date]%newline%newline" type="log4net.Util.PatternString" />
      </layout>
    </appender>
    <appender name="DocsPaDbManagement.Database.SqlServer" type="log4net.Appender.RollingFileAppender">
      <file value="C:\GIADAv4.7.2\ROOT\_log4net\DocsPaDbManagement.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maximumFileSize value="100000KB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
        <conversionPattern value="### %date [%thread] %-5level %logger ###%newline### [%C -&gt; %M] ### %newline%message%newline" />
        <footer value="[END LOGGING AT %date]%newline%newline" type="log4net.Util.PatternString" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
    </root>
    <logger name="DocsPaWS">
      <appender-ref ref="BE" />
    </logger>
    <logger name="DocsPaDB">
      <appender-ref ref="BE" />
    </logger>
    <logger name="BusinessLogic">
      <appender-ref ref="BusinessLogic" />
    </logger>
    <logger name="AsposePdfService">
      <appender-ref ref="PdfServiceLog" />
    </logger>
    <logger name="DocsPaDbManagement.Database.SqlServer">
      <appender-ref ref="LogBackend" />
    </logger>
  </log4net>
  <applicationSettings>
    <DocsPaWS.Properties.Settings>
      <setting name="DocsPaWS_marcatura_marcatura" serializeAs="String">
        <value>http://ws-s.epr.intra.infotn.it:80/web-services/marcatura</value>
      </setting>
      <setting name="DocsPaWS_DocsPaWR_DocsPaWebService" serializeAs="String">
        <value>http://localhost/GiadaV4.7.2/DocsPaWS/DocsPaWS.asmx</value>
      </setting>
    </DocsPaWS.Properties.Settings>
  </applicationSettings>
</configuration>