<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NttDataWA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!-- Chiavi Nuove -->
    <add key="MULTI_LANGUAGES" value="false"/>
    <add key="LANGUAGES_PATH" value="C:\GIADAv4.7.2\NttDataWA\NttDataWA\Languages\%DATA"/>
    <add key="LANGUAGES" value="Italian"/>
    <add key="LANGUAGES_LABEL" value="Italiano"/>
    <!--<add key="LANGUAGES" value="English"/>
    <add key="LANGUAGES_LABEL" value="English"/>-->
	<add key="LANGUAGES_DIRECTION" value="Left"/>
    <add key="AUTO_FORCE_LOGIN" value="true"/>
    <add key="GV_EXPORT_ENABLE" value="1"/>
    <add key="DOCUMENT_PDF_CONVERT" value="true"/>
    <add key="DOCUMENT_PDF_CONVERT_ENABLED" value="true"/>
    <add key="INOLTRA_DOC" value="1"/>
    <add key="ADOBE_ACROBAT_INTEGRATION" value="true"/>
    <add key="SCAN_WITH_ADOBE_ACROBAT_INTEGRATION" value="false"/>
    <add key="SPEDIZIONE_SELEZIONA_RF_PREDEFINITO" value="true"/>
    <add key="ProfilazioneDinamica" value="1"/>
    <add key="ProfilazioneDinamicaFasc" value="1"/>
    <add key="LISTE_DISTRIBUZIONE" value="1"/>
    <add key="ENABLE_CONVERT_PDF_ON_SIGN" value="true"/>
    <add key="MITTENTE_DEFAULT" value="1"/>
    <add key="LITEDOCUMENT" value="false"/>
    <add key="USE_CLIENT_MODEL_PROCESSOR_ACTIVEX" value="true"/>
	<add key="LABELS_PATH" value="C:\GIADAv4.7.2\nttdatawa\NttDataWA\Stampanti\Etichette\%COD_AMM%"/>
    <add key="DYMO_DOCNUMBER_PREFIX" value="D"/>
    <add key="URL_INIFILE_DISPOSITIVO_STAMPA" value="http://localhost/GiadaV4.7.2/activex/DYMO/ET_DYMO.LWL"/>
    <add key="StampaDescrizioneAmministrazioneInEtichetta" value="1"/>
    <add key="StampaClassificazioneInEtichetta" value="1"/>
    <add key="StampaFascicoloInEtichetta" value="1"/>
    <add key="MODELLO_DOCUMENTO" value="2"/>
    <add key="MEZZO_SPEDIZIONE" value="1"/>
    <add key="SET_DATA_VISTA_GRD" value="2"/>
    <add key="DiagrammiStato" value="1"/>
    <add key="FILE_ACQ_SIZE_MAX" value="1135000"/>
    <add key="STATO_REG_APERTO" value="A"/>
    <add key="STATO_REG_CHIUSO" value="C"/>
    <add key="NO_BROWSER_CONTROL" value="1"/>
	<add key="CERCA_DUPLICATI_PROTOCOLLO" value="1"/>												 
    <add key="FATTURAPA_XSL_URL" value="http://localhost/GiadaV4.7.2/NttDataWA/ImportDati/fatturapa_v1.2.xsl"/>
    <add key="NAMESPACE_FATTURAPA" value="http://ivaservizi.agenziaentrate.gov.it/docs/xsd/fatture/v1.2"/>
    <add key="SMISTA_NAVIGA_UO" value="1"/>
    <add key="USE_CODICE_OGGETTO" value="true"/>
	<add key="CERCA_SOTTOFASCICOLI" value="1"/>										   
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <expressionBuilders>
        <add expressionPrefix="localizeByText" type="LocalizationExpressionBuilder"/>
      </expressionBuilders>
    </compilation>
    <!--<authentication mode="Windows"/>-->
    <globalization culture="it-IT" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime requestValidationMode="2.0" executionTimeout="90" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never"/>
												  
  </system.web>
  <system.webServer>
	<validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000"/>
        <fileExtensions>
          <add fileExtension=".ini" allowed="true"/>
        </fileExtensions>
        <!--fileExtensions>
                    <add fileExtension=".dll" allowed="true"/>
                    <add fileExtension=".jar" allowed="true"/>
                </fileExtensions-->
      </requestFiltering>
      <!--authorization>
        <add accessType="Allow" users="*"/>
      </authorization-->
    </security>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </modules>		  
    <defaultDocument>
      <files>
        <add value="Login.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
		  
  <applicationSettings>
    <NttDataWA.Properties.Settings>
      <setting name="NttDataWA_DocsPaWR_DocsPaWebService" serializeAs="String">
        <value>http://localhost/GiadaV4.7.2/DocsPaWS/DocsPaWS.asmx</value>
      </setting>
    </NttDataWA.Properties.Settings>
  </applicationSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\GIADAv4.7.2\NttDataWA\_log4net\frontend.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="30"/>
      <datePattern value=".yyyy-MM-dd"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString"/>
        <conversionPattern value="### %date [%thread] %-5level %logger -&gt; [%M] ###%message%newline"/>
        <footer value="[END LOGGING AT %date]%newline%newline" type="log4net.Util.PatternString"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>	 
  </log4net>
</configuration>